node_modules/

ableton music

Thumbs.db
.DS_Store

*.js.map
*.css.map

.idea/

yarn-error.log

dist
dist-electron/
release/

openpose-1.3.0-win64-gpu-binaries/

# VS Code
*.code-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
