@use "@/styles/colors" as *;

.sketch-component {
    user-select: none;
    
    // fully fills its parent
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .sketch-error {
        animation-duration: 2s;
        animation-name: opacify-in;
        margin: auto;
        text-align: center;

        .back {
            color: $gray3;
            font-style: italic;
        }
    }

    canvas {
        background: #10161A;
        display: block;
        position: relative;
        &:focus {
            outline: none;
        }
    }
}

.sketch-elements {
    // todo ensure this is ok
    align-items: flex-start;
    display: flex;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    // hack to prevent mouse events from being captured by this element
    visibility: hidden;

    // but allow children to capture
    > * {
        visibility: visible;
    }
}

.advanced-settings-toggle {
    top: 12px;
    right: 52px;
}

.mouse-idle {
    cursor: none;

    .overlay-button,
    .overlay-panel {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.6s ease;
    }
}

@keyframes opacify-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
