@use "@/styles/colors" as *;
@use "@/styles/fonts" as *;

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $palatino-family;
    margin: 0;
}

a {
    color: $light-gray1;
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:active {
        position: relative;
        top: 1px;
    }

    &:hover {
        text-decoration: none;
        color: $white;
    }
}

body {
    font-family: $palatino-family;
    margin: 0;
    color: #10161a;
    background: #f5f8fa;
}

p {
    font-weight: 400;
    font-style: normal;
    font-size: 21px;
    line-height: 1.58;
    font-family: $georgia-family;
}

figure {
    margin: 0;
}

h1 ~ p {
    margin-top: 10px;
}

p ~ p {
    margin-top: 30px;
}

#root {
    overflow: hidden;
    min-height: 100vh;
}
